# API modules
fastapi
httpx
uvicorn
gunicorn
pydantic-settings
orjson
python-multipart


# Database modules
sqlalchemy
sqlalchemy_utils
asyncpg
psycopg2-binary
sqlmodel
aiosqlite
greenlet

# Test
pytest
pytest-asyncio


# Logs and lint
loguru
asgi_correlation_id
isort
ruff
black

psutil # health check hardware stats
