fastapi
gunicorn
uvicorn
sqlalchemy
sqlmodel
httpx
psycopg2-binary
python-multipart
psutil

# Worker modules
pydantic-settings
orjson

# Database modules
aio-pika

# Logs and lint
loguru
asgi_correlation_id
isort
ruff
black
